<h1>About</h1>
<a href="http://localhost:3000/">Home Link</a>

<p>Create, view, update, delete Game of Thrones characters. Cannot be blank</p>

<h1>People</h1>

<p>Character #=> "Tyrion Lannister"</p>

<p>Age (validates for number) #=> 25</p>

<p>Hair_color #=> Black</p>

<p>Eye_color #=> Green</p>

<p>Gender #=> Man</p>

<h2>Alive #=> No</h2>

<p>House #=> "Stark"</p>

<p>City #=> "Lannisport"</p>

<p>Quote #=> "Never forget who you are. The rest of the world won't. Wear it like an armor and it can never be used against you."</p>

<h1>Dragons</h1>

<p>Dragon #=> "Drogon"</p>

<p>Age #=> "7</p>

<p>Color #=> Red</p>

<h2>Alive #=> No</h2>